<!--
 ____             ____
|  _ \  _____   _|  _ \ _ __ ___   __ _ _ __ ___  ___ ___  _   _ ___
| | | |/ _ \ \ / / |_) | '__/ _ \ / _` | '__/ _ \/ __/ __|| | | / __|
| |_| |  __/\ V /|  __/| | | (_) | (_| | | |  __/\__ \__ \| |_| \__ \
|____/ \___| \_/ |_|   |_|  \___/ \__, |_|  \___||___/___(_)__,_|___/
                                  |___/
 xxxxxxxxxxxxxxxxxxxxxxx
x                     //x
x   xxxxxxxxxxxxxxxxx///x   We are volunteers using our skills and expertise
x  x                 x//x   to create tech tools to help elect Hillary
x  x                 x//x   Clinton and other Democratic and progressive
x  x     .           x//x   candidates. We are coders, designers, leaders,
x  x  __.'.__        x//x   writers, mentors, and researchers. Each project
x  x '-.   .-'       x//x   we work on focuses on an app, service, data
x  x   /.'.\         x//x   resource, or other technology to advance the
x  x   '   '         x//x   cause. We are a team — join us!
x   xxxxxxxxxxxxxxxxx///x
x///////////////////////x   http://DevProgress.us
 xxxxxxxxxxxxxxxxxxxxxxx

-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.assets_path }}css/prism.css">
  <link rel="stylesheet" href="{{ site.assets_path }}css/main-min.css">
  <link rel="stylesheet" href="{{ site.assets_path }}css/docs.css">
</head>
