/* This is the docs css */

/* Let's use the variable overrides for the docs too */
@import "../../src/scss/variable-overrides";

.site-header {
	width: 100%;
	background-color: $brand-blue-dk;
	h1 {
		color: $color-white;
	}
}
.site-nav {
	width: 100%;
	padding-top: 10px;
	background-color: $gray-light;
	a {
		color: $color-white;
	}
	li {
		display: inline-block;
		margin-right: 16px;
	}
}

.logo {
	float: left;
	margin-top: 10px;
	margin-right: 16px;
	img {
		height: 54px;
		width: 54px;
	}
}
.color-chip {
	height: 100px;
	width: 100px;
	float: left;
	margin: 0 24px 24px 0;
}
/* Colors */

.brand-primary {
	background-color: $brand-primary;
}         
.brand-blue-lt {
	background-color: $brand-blue-lt;
} 		
.brand-blue-med {
	background-color: $brand-blue-med;
}		
.brand-blue-dk {
	background-color: $brand-blue-dk;
}			
.brand-red {
	background-color: $brand-red;
}				
.gray-base   {
	background-color: $gray-base;
}       
.gray-darker {
	background-color: $gray-darker;
}
.gray-dark {
	background-color: $gray-dark;
}
.gray {
	background-color: $gray;
}
.gray-light {
	background-color: $gray-light;
}
.gray-lighter {
	background-color: $gray-lighter;
}

