/* This is the docs css */

/* Override default Bootstrap variables */
@import "../../src/scss/variable-overrides";

p {
	max-width: 54rem;
}
.site-header {
	width: 100%;
	background-color: $brand-blue-dk;
	position: relative;
	top: 0;
	left: 0;
	padding: $padding-large-vertical $padding-large-horizontal; 
	h1 {
		color: $color-white;
	}
	&:after {
		content: "";  
		display: table;
		clear: both;
	}
}
.side-nav {
	float: left;
	width: 250px;
	bottom: 0;
	padding: $padding-large-vertical $padding-large-horizontal;
	
	ul {
		padding-left: 0;
		font-weight: 100;
	}
	li {
		display: block;
		padding: $padding-large-vertical 0;
		a {
			color: $gray-base;
		}
		&.active {
			font-weight: 400;
		}
	}
}
.main-content {
	width: calc(100% - 250px);
	display: inline-block;
	position: relative;
	right: 0;
	bottom: 0;
}
.guide-content {
	max-width: 1024px;
	padding-left: 3rem;
	padding-right: 3rem;
}
.site-banner {
	float: left;
	position: relative;
}
.logo {
	float: left;
	margin-top: 10px;
	margin-right: 16px;
	img {
		height: 54px;
		width: 54px;
	}
}
.site-name {
	float: left;
}
.color-chip {
	height: 100px;
	width: 100px;
	float: left;
	margin: 0 24px 24px 0;
}
/* Colors */

.brand-primary {
	background-color: $brand-primary;
}         
.brand-blue-lt {
	background-color: $brand-blue-lt;
} 		
.brand-blue-med {
	background-color: $brand-blue-med;
}		
.brand-blue-dk {
	background-color: $brand-blue-dk;
}			
.brand-red {
	background-color: $brand-red;
}				
.gray-base   {
	background-color: $gray-base;
}       
.gray-darker {
	background-color: $gray-darker;
}
.gray-dark {
	background-color: $gray-dark;
}
.gray {
	background-color: $gray;
}
.gray-light {
	background-color: $gray-light;
}
.gray-lighter {
	background-color: $gray-lighter;
}

