//
// Variable overrides.
/* 
	Use this file to override default Bootstrap variables in
   	bootstrap-sass/assets/stylesheets/bootstrap/variables.scss
*/
// -----------------------------------------------------------


//== Colors
$gray-base:             #282e33;
$gray-darker:           #324553;
$gray-dark:             #465662;
$gray:                  #667682;
$gray-light:            #a4b0b9;
$gray-lighter:          #e7eaec;

$brand-primary:         #0055b8;
$brand-blue-lt: 		#53aaff;
$brand-blue-med:		#2c2d7a;
$brand-blue-dk:			#0f2446;
$brand-red:				#b60015;

$color-white: 			#ffffff;





//== Scaffolding


//== Typography

$font-family-sans-serif:  SharpUnity, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;


//== Iconography


//== Components
$padding-large-vertical:    12px;
$padding-large-horizontal:  20px;

//== Tables


//== Buttons


//== Forms


//== Dropdowns


//-- Z-index master list


//== Media queries breakpoints


//== Grid system


//== Container sizes


//== Navbar


//== Navs


//== Pagination


//== Pager


//== Jumbotron


//== Form states and alerts


//== Tooltips


//== Popovers


//== Labels


//== Modals



//== Alerts



//== Progress bars



//== List group


//== Panels



//== Thumbnails



//== Wells



//== Badges



//== Breadcrumbs



//== Carousel



//== Close



//== Code



//== Type
